*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    font-family: "Montserrat";
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: hsl(26, 40%, 92%);
}
