*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --clr-primary-violet: hsl(246, 80%, 60%);
  --clr-primary-orange: hsl(15, 100%, 70%);
  --clr-primary-blue: hsl(195, 74%, 62%);
  --clr-primary-red: hsl(348, 100%, 68%);
  --clr-primary-green: hsl(145, 58%, 55%);
  --clr-primary-purple: hsl(264, 64%, 52%);
  --clr-primary-yellow: hsl(43, 84%, 65%);

  --clr-neutral-white: hsl(0, 100%, 100%);
  --clr-neutral-blue-100: hsl(236, 100%, 87%);
  --clr-neutral-blue-200: hsl(235, 45%, 61%);
  --clr-neutral-blue-300: hsl(235, 46%, 20%);
  --clr-neutral-blue-400: hsl(226, 43%, 10%);
  --clr-neutral-blue-hover: hsl(236, 41%, 34%);

  --fontFamily: 'Rubik', sans-serif;

  --fz-50: 0.85rem;
  --fz-100: 1rem;
  --fz-200: 1.125rem;
  --fz-300: 1.25rem;
  --fz-400: 1.5rem;
  --fz-500: 2rem;
  --fz-600: 2.5rem;
  --fz-700: 3rem;
}

/* Reset */
h1,
h2,
h3 {
  font-size: var(--fz-400);
}

ul,
ol {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

a,
button {
  appearance: none;
  cursor: pointer;
  border: none;
  outline: 1px solid transparent;
  background: transparent;
  font: inherit;
  text-decoration: none;
}

fieldset {
  appearance: none;
  border: none;
  outline: none;
}

html {
  font-family: var(--fontFamily);
  font-size: var(--fz-200);
  color: var(--clr-neutral-white);
}

/* Reusable Components */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.title {
  color: var(--clr-neutral-white);
}

/* Body */
body {
  background: var(--clr-neutral-blue-400);
}

/* Main */
.main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Dashboard */
.dashboard {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 2rem;
  align-content: start;

  width: min(70rem, 91%);
  margin-inline: auto;
  margin-block: 3rem;
}

/* Profile */
.dashboard__profile {
  display: grid;
  grid-template-rows: 1fr auto;
  grid-row: 1 / -1;
  background-color: var(--clr-neutral-blue-300);
  border-radius: 15px;
}

.profile__user {
  display: grid;
  align-content: start;
  gap: 3rem;

  background-color: var(--clr-primary-violet);
  border-radius: inherit;
  padding: 2rem;
}

.user__image {
  width: 80px;
  border: 3px solid var(--clr-neutral-white);
  border-radius: 100%;
}

.user__info {
  display: grid;
  gap: 0.25rem;
  font-size: var(--fz-50);
  color: var(--clr-neutral-blue-100);
}

.user__info > .title {
  font-weight: 300;
  font-size: var(--fz-600);
}

.profile__actions {
  display: grid;
  gap: 1rem;
  padding: 2rem;
}

.action {
  cursor: pointer;
}

.action__label {
  font-size: var(--fz-200);
  color: var(--clr-neutral-blue-100);
  font-weight: 300;
  transition: all 250ms linear;
}

.action__label:hover,
.action > input:focus + .action__label {
  color: var(--clr-neutral-white);
}

.action > input:checked + .action__label {
  color: var(--clr-neutral-white);
  font-weight: 400;
}

/* Time-Frame */
.timeframe {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  align-content: start;

  border-radius: 15px;
  overflow: hidden;
}

.timeframe__head {
  display: flex;
  align-items: start;
  justify-content: end;
  height: 80px;
  padding-right: 1rem;

  background-color: var(--clr-primary-violet);
}

.timeframe__head--orange {
  background-color: var(--clr-primary-orange);
}

.timeframe__head--blue {
  background-color: var(--clr-primary-blue);
}

.timeframe__head--red {
  background-color: var(--clr-primary-red);
}

.timeframe__head--green {
  background-color: var(--clr-primary-green);
}

.timeframe__head--purple {
  background-color: var(--clr-primary-purple);
}

.timeframe__head--yellow {
  background-color: var(--clr-primary-yellow);
}

.timeframe__body {
  display: grid;
  gap: 2rem;
  margin-block-start: -1.5rem;
  padding: 2rem;
  border-radius: 15px;

  cursor: pointer;
  background-color: var(--clr-neutral-blue-300);
}

.timeframe__body:hover {
  background-color: var(--clr-neutral-blue-hover);
}

.timeframe__info {
  display: flex;
  justify-content: space-between;
}

.timeframe__info > .title {
  font-size: var(--fz-200);
  font-weight: 500;
}

.timeframe__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--clr-neutral-blue-100);
  transition: color 250ms linear;
}

.timeframe__btn:hover,
.timeframe__btn:focus {
  color: var(--clr-neutral-white);
}

.timeframe__details {
  display: grid;
  gap: 1rem;
}

.details__current {
  font-size: var(--fz-700);
  font-weight: 300;
}

.details__previous {
  color: var(--clr-neutral-blue-100);
}

@media screen and (max-width: 70rem) {
  .dashboard {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  .dashboard__profile {
    align-self: start;
    position: sticky;
    top: 1rem;
  }

  .user__info > .title {
    font-size: var(--fz-500);
  }

  .details__current {
    font-size: var(--fz-500);
  }
}

@media screen and (max-width: 50rem) {
  .dashboard {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }

  .user__info > .title {
    font-size: var(--fz-400);
  }

  .details__current {
    font-size: var(--fz-400);
  }
}

@media screen and (max-width: 35rem) {
  .dashboard {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(7, 1fr);
  }

  .profile__user {
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 1rem;
  }

  .user__info {
    font-size: var(--fz-50);
  }

  .user__info > .title {
    font-size: var(--fz-200);
  }

  .profile__actions {
    grid-template-columns: repeat(3, 1fr);
    padding-block: 1rem;
  }

  .action__label {
    font-size: var(--fz-100);
  }

  .timeframe__body {
    gap: 0.5rem;
  }

  .timeframe__details {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .timeframe__info > .title {
    font-size: var(--fz-100);
  }

  .details__current {
    font-size: var(--fz-400);
  }

  .details__previous {
    font-size: var(--fz-50);
  }
}
