*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Theme */
    --clr-primary: hsl(75, 94%, 57%);
    --clr-neutral-white: hsl(0, 0%, 100%);
    --clr-neutral-grey100: hsl(0, 0%, 20%);
    --clr-neutral-grey300: hsl(0, 0%, 12%);
    --clr-neutral-black: hsl(0, 0%, 8%);

    /* Font Family */
    --ff-primary: "Inter", sans-serif;

    /* Font-Size */
    --fs-50: 0.85rem;
    --fs-100: 1rem;
    --fs-150: 1.25rem;
    --fs-200: 1.5rem;
    --fs-300: 3rem;
}

html {
    font-family: var(--ff-primary);
    font-size: var(--fs-100);
    color: var(--clr-neutral-white);
}

main {
    display: grid;
    align-items: center;
    justify-content: center;
    /* align-items: center;
    justify-content: center; */

    min-height: 100vh;
    padding: 1.25rem;

    background: var(--clr-neutral-black);
}

.profile {
    display: flex;
    flex-direction: column;
    gap: 1.85rem;
    padding: 2.5rem;
    width: 390px;

    border-radius: 0.75rem;
    background: var(--clr-neutral-grey300);
}

.profile_header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: inherit;
}

.user_img {
    width: 6rem;
    height: 6rem;
    border-radius: 100%;
}

.user_details {
    text-align: center;
}

.user_name {
    font-weight: 700;
    font-size: var(--fs-200);
}

.user_address {
    font-size: var(--fs-50);
    margin-top: 1.25rem;
    margin-bottom: 1.85rem;

    font-weight: 600;
    font-style: normal;
    color: var(--clr-primary);
}

.user_desc {
    font-weight: 400;
    font-size: var(--fs-50);
}

.user_desc::before {
    content: open-quote;
}

.user_desc::after {
    content: close-quote;
}

.profile_links {
    list-style: none;
}

.profile_links > li {
    display: flex;
    flex-direction: column;
}

.profile_links > li + li {
    margin-top: 1.25rem;
}

.link {
    position: relative;

    font-size: var(--fs-50);
    padding: 1rem;
    border-radius: 0.75rem;

    text-align: center;
    text-decoration: none;
    font-weight: 600;
    background: var(--clr-neutral-grey100);
    color: var(--clr-neutral-white);

    overflow: hidden;
    isolation: isolate;

    transition: color 250ms linear;
}

.link:hover,
.link:focus-visible {
    color: var(--clr-neutral-grey300);
    outline: transparent;
}

.link::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    background: var(--clr-primary);

    transform: scaleX(0);
    transform-origin: right;

    transition: transform 250ms linear;
}

.link:hover::after,
.link:focus-visible::after {
    transform: scaleX(1);
    transform-origin: left;
}

@media screen and (max-width: 420px) {
    html {
        font-size: var(--fs-50);
    }

    .profile {
        width: 90vw;
        padding: 1.25rem;
    }
}
