*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: inherit;
}

:root {
    --red: hsl(0, 100%, 74%);
    --green: hsl(154, 59%, 51%);
    --blue: hsl(248, 32%, 49%);
    --darkBlue: hsl(249, 10%, 26%);
    --grayishBlue: hsl(246, 25%, 77%);

    font-family: "Poppins", sans-serif;
}

body,
h1,
h2,
p,
form,
label,
input,
button {
    margin: 0;
    padding: 0;
}
