/* Resets */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

figure,
img {
    display: block;
    max-width: 100%;
}

/* Theme */
:root {
    /* Colors */
    --bg-yellow: #f4d04e;
    --bg-white: #ffffff;

    --text-primary: #111111;
    --text-secondary: #7f7f7f;

    /* Font Family */
    --ff-primary: "Figtree", sans-serif;

    /* Font Size */
    --fz-50: 0.85rem;
    --fz-100: 1rem;
    --fz-150: 1.25rem;
    --fz-200: 1.5rem;
    --fz-300: 3rem;
}

html {
    font-family: var(--ff-primary);
    font-size: var(--fz-100);
}

main {
    min-height: 100vh;
    background-color: var(--bg-yellow);
    color: var(--text-primary);

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

/* Card */
.card {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    gap: 1.25rem;

    max-width: 385px;
    padding: 1.25rem;
    border-radius: 1rem;

    background: var(--bg-white);
    box-shadow: 0.5rem 0.5rem var(--text-primary);
}

.card__thumbnail {
    border-radius: 1rem;
    overflow: hidden;
}

.card__thumbnail > img {
    width: 100%;
}

.card__body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    gap: 0.75rem;
}

.card__tag {
    align-self: flex-start;

    font-size: var(--fz-50);
    font-weight: 900;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;

    background: var(--bg-yellow);
}

.card__date {
    font-size: var(--fz-50);
}

.card__title {
    font-size: var(--fz-200);
    font-weight: 800;
}

.card__desc {
    font-size: var(--fz-100);
    color: var(--text-secondary);
    text-align: justify;
    line-height: 1.5;
}

.card__footer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.75rem;
}

.user__img {
    width: 32px;
    height: 32px;
    border-radius: 100vh;
}

.user__name {
    font-size: var(--fz-50);
    font-weight: 700;
}

@media screen and (max-width: 420px) {
    html {
        font-size: var(--fz-50);
    }

    .card__title {
        font-size: var(--fz-150);
    }

    .card__desc {
        line-height: 1;
    }
}
